<div class="flex flex-col gap-0.5">
  <label class="text-sm" for="custom-option" (click)="$event.stopPropagation()">
    {{ label() }}
  </label>

  <input
    id="custom-option"
    class="border-2 border-(--text)/50 rounded-md p-1 mb-1.5 w-full"
    type="text"
    [formControl]="control()"
    [matAutocomplete]="auto"
    (click)="$event.stopPropagation()"
  />

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
    @for (country of countries(); track country) {
      <mat-option [value]="country" (click)="$event.stopPropagation()">{{ country }}</mat-option>
    }
  </mat-autocomplete>
</div>
