<section class="flex items-center justify-between mb-1">
  <div>
    <span>{{ itemsCount() }} Items</span>
  </div>

  <div>
    <!-- search control -->
    @if (isSearchControlVisible()) {
      <mat-form-field
        class="custom-field max-w-xl no-hover-effect no-hint match-height mr-4"
        matTooltip="{{ allDisabled() ? 'There is no item to search' : '' }}"
      >
        <input
          type="text"
          matInput
          placeholder="Search..."
          [(ngModel)]="searchQuery"
          [disabled]="allDisabled()"
        />
        <button class="cursor-pointer" matSuffix (click)="searchQuery.set('')">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    }

    <!-- filter options -->
    @if (filterOptions()?.length) {
      <mat-form-field
        class="custom-field no-hover-effect no-hint match-height"
        matTooltip="{{ allDisabled() ? 'There is no item to filter' : '' }}"
      >
        <mat-select
          [value]="selectedFilter()"
          [disabled]="allDisabled()"
          (selectionChange)="onFilterChange($event)"
        >
          <mat-select-trigger>{{ selectedFilter() }}</mat-select-trigger>
          @for (option of filterOptions(); track option) {
            <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }

    <!-- sort options -->
    @if (sortOptions()?.length) {
      <mat-form-field>
        <mat-label>Sort Items</mat-label>
        <mat-select
          [value]="selectedSort()"
          [disabled]="allDisabled()"
          (selectionChange)="onSortChange($event)"
        >
          <mat-select-trigger>{{ selectedSort() }}</mat-select-trigger>
          @for (option of sortOptions(); track option) {
            <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
  </div>
</section>
