<app-header />
<mat-drawer-container class="h-[calc(100vh-64px)] bg-(--bg)!">
  <mat-drawer
    class="bg-(--fg)! shadow-lg! rounded-none! max-w-72"
    mode="side"
    [opened]="isSidenavOpen()"
  >
    <div class="h-full w-full flex flex-col justify-between">
      <mat-action-list>
        <mat-divider></mat-divider>

        <!-- weather -->
        <button mat-list-item [routerLink]="['/', env.apps.weather.route]">
          <span class="material-icons-outlined" matListItemIcon>{{ env.apps.weather.icon }}</span>
          <span matListItemTitle>{{ env.apps.weather.name }}</span>
        </button>

        <mat-divider></mat-divider>

        <!-- extensions -->
        <button mat-list-item [routerLink]="['/', env.apps.extensions.route]">
          <span class="material-icons-outlined" matListItemIcon>{{
            env.apps.extensions.icon
          }}</span>
          <span matListItemTitle>{{ env.apps.extensions.name }}</span>
        </button>

        <mat-divider></mat-divider>

        <!-- todos -->
        <button mat-list-item [routerLink]="['/', env.apps.todos.route]">
          <span class="material-icons-outlined" matListItemIcon>{{ env.apps.todos.icon }}</span>
          <span matListItemTitle>{{ env.apps.todos.name }}</span>
        </button>

        <mat-divider></mat-divider>

        <!-- joblisting -->
        <button mat-list-item [routerLink]="['/', env.apps.joblisting.route]">
          <span class="material-icons-outlined" matListItemIcon>{{
            env.apps.joblisting.icon
          }}</span>
          <span matListItemTitle>{{ env.apps.joblisting.name }}</span>
        </button>

        <mat-divider></mat-divider>

        <!-- character counter -->
        <button mat-list-item [routerLink]="['/', env.apps.characterCounter.route]">
          <span class="material-icons-outlined" matListItemIcon>{{
            env.apps.characterCounter.icon
          }}</span>
          <span matListItemTitle>{{ env.apps.characterCounter.name }}</span>
        </button>

        <mat-divider></mat-divider>

        <!-- age calculator -->
        <button mat-list-item [routerLink]="['/', env.apps.ageCalculator.route]">
          <span class="material-icons-outlined" matListItemIcon>{{
            env.apps.ageCalculator.icon
          }}</span>
          <span matListItemTitle>{{ env.apps.ageCalculator.name }}</span>
        </button>

        <mat-divider></mat-divider>
      </mat-action-list>
      <div class="grid place-content-center py-4">
        <img
          class="cursor-pointer w-full max-h-8"
          role="button"
          routerLink="/"
          src="assets/images/logo.svg"
          alt="logo"
        />
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="h-full">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
