<header class="flex justify-end items-center p-2 mb-8 bg-(--fg) border-b border-(--text)/10">
  <button matButton="outlined" (click)="toggleForm()">
    {{ !isFormShowing() ? 'Add new todo' : 'Hide Form' }}
  </button>
</header>

<section class="container mb-8">
  <app-add-todo (submitForm)="onSubmit($event)" />

  <!-- display todos -->
  <app-todos-result
    [todosLength]="todosLength()"
    [isLoading]="isLoading"
    [todos]="filteredTodos()"
    [filterOptions]="filterOptions"
    [(selectedFilter)]="selectedFilter"
    [(searchQuery)]="searchQuery"
  />
</section>
