<section class="container">
  <app-main-title title="Signal Form test" />

  <div
    class="max-w-md flex flex-col gap-4 bg-(--fg) border border-(--text)/10 rounded-2xl p-4 mx-auto"
  >
    <h2 class="text-xl text-(--text) font-bold">Signup form</h2>

    <!-- signup form -->
    <form class="flex flex-col items-start justify-between gap-4" [formRoot]="signUpForm">
      <!-- first name -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput [formField]="signUpForm.firstName" />

        <!-- display error -->
        @for (error of signUpForm.firstName().errors(); track error.kind) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>

      <!-- last name -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput [formField]="signUpForm.lastName" />

        <!-- display error -->
        @for (error of signUpForm.lastName().errors(); track error.kind) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>

      <!-- email -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [formField]="signUpForm.email" />

        <!-- display error -->
        @for (error of signUpForm.email().errors(); track error.kind) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>

      <!-- password -->
      <app-password-field class="block w-full" [field]="signUpForm.password" />

      <!-- confirm password -->
      <app-password-field
        class="block w-full"
        [field]="signUpForm.confirmPassword"
        label="Confirm Password"
      />

      <button mat-raised-button color="primary" [disabled]="signUpForm().submitting()">
        @if (signUpForm().submitting()) {
          <div class="flex items-center gap-2">
            Submitting <mat-progress-spinner diameter="18" mode="indeterminate" />
          </div>
        } @else {
          Submit
        }
      </button>
    </form>
  </div>
</section>
