<section class="container mb-8">
  <app-main-title title="Job Listing" />

  @if (isLoading()) {
    <mat-progress-spinner class="mx-auto mt-4" diameter="36" mode="indeterminate" />
  } @else {
    <article class="flex flex-col">
      <!-- Job Listings Header Filter -->
      @if (filterItems().length) {
        <header
          class="sticky top-0 w-full flex flex-wrap items-center justify-between bg-(--fg) p-5 mb-4 rounded-lg shadow"
          animate.enter="enter-animation"
        >
          <mat-chip-grid>
            @for (item of filterItems(); track $index) {
              <mat-chip-row (removed)="remove(item)">
                {{ item }}
                <button matChipRemove [attr.aria-label]="'remove ' + item">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            }
          </mat-chip-grid>

          <!-- clear all -->
          <button mat-raised-button (click)="clearAll()">
            Clear
            <mat-icon>cancel</mat-icon>
          </button>
        </header>
      }

      <!-- Job Listings count -->
      <div class="flex items-center">
        <p class="text-(--text)">{{ filteredJobListings().length }} jobs found</p>
      </div>

      @for (job of filteredJobListings(); track job.id) {
        <app-job-list-item [job]="job" (setFilter)="onSetFilter($event)" />
      } @empty {
        <span>No Job found...</span>
      }
    </article>
  }
</section>
