.mat-mdc-form-field.custom-field {
  //------- start default reseting --------//
  .mat-mdc-text-field-wrapper {
    background-color: transparent !important;
  }

  .mat-icon,
  .mdc-text-field {
    padding: 0 !important;
  }

  .mat-mdc-form-field-infix {
    padding-bottom: 0;

    .mat-mdc-form-field-input-control {
      margin-top: 0.44em;
    }
  }

  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 38px;
    font-size: 0.99rem;
  }

  .mat-mdc-form-field-icon-suffix {
    align-self: flex-end;
    padding-bottom: 0.2em;
  }
  //------ end default reset ---------//

  &.no-hint {
    .mat-mdc-form-field-subscript-wrapper,
    .mat-mdc-form-field-bottom-align::before {
      display: none;
    }
  }
  &.no-arrow .mat-mdc-select-arrow-wrapper,
  &.no-underline .mdc-line-ripple,
  &.no-hover-effect .mat-mdc-form-field-focus-overlay {
    display: none;
  }
  &.match-height {
    .mat-mdc-form-field-infix {
      min-height: auto;
      padding: 0;
    }
  }
  &.match-width {
    .mat-mdc-form-field-infix {
      width: auto;
    }
  }
}

// .cdk-overlay-pane:has(.mat-mdc-option) {
//   width: auto !important;
// }

.mat-mdc-select-panel {
  --mat-sys-surface-container: light-dark(var(--fg), var(--bg));
}

.mat-mdc-select-trigger {
  gap: 0.5em;
}

// FYI: it can be reset or removed for some cases
.mat-mdc-option .mat-pseudo-checkbox-minimal {
  --mat-sys-on-secondary-container: var(--foo);
}

.no-checkbox .mat-mdc-option .mat-pseudo-checkbox-minimal {
  display: none;
}

.custom-field [matSuffix] {
  /* override design tokens */
  --mdc-icon-button-state-layer-size: 16px;
  --mdc-icon-button-icon-size: 16px;

  /* layout adjustments */
  width: 16px !important;
  height: 16px !important;
  padding: 0 !important;
  min-width: 0 !important;
  line-height: 16px !important;
}
/* adjust the icon size inside the suffix button */
/* This is necessary because the default size of mat-icon is 24px, which is too large for our 16px button */
.custom-field [matSuffix] mat-icon {
  font-size: 16px !important;
  width: 16px !important;
  height: 16px !important;
}