@use '@angular/material' as mat;
@use './scss_theme-colors.scss' as theme;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: theme.$primary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}
