@import 'tailwindcss';

@theme {
  /* define an alias for the bg */
  --background-image-today: url('/assets/images/bg-today-large.svg');
  --background-image-home: url('https://images.pexels.com/photos/15779836/pexels-photo-15779836.jpeg');
}

:root {
  --primary: #ff7c0a;
  --primary2: #353ecb;

  /* material color */
  --mat-sys-surface: var(--primary2);
}

:root[data-theme='light'] {
  color-scheme: light;

  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  /* blue */
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);

  --gray-900: hsl(260, 7%, 8%);
  --gray-700: hsl(262, 6%, 26%);
  --gray-400: hsl(264, 5%, 64%);
  --bg: hsl(0, 0%, 96%);
  --fg: hsl(0, 0%, 98%);
  --text: hsl(220, 9%, 26%);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --pill-accent: var(--bright-blue);
}

:root[data-theme='dark'] {
  color-scheme: dark;

  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  /* blue */
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);

  --gray-900: hsl(260, 60%, 90%);
  --gray-700: hsl(263, 19%, 75%);
  --gray-400: hsl(264, 60%, 95%);
  --bg: hsl(0, 0%, 17%);
  --fg: hsl(0, 0%, 19%);
  --text: hsl(220, 9%, 96%);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --pill-accent: var(--bright-blue);
}

body {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg);
  color: var(--text);
}

.container {
  max-width: 90%;
  margin-inline: auto;
}

.pill {
  --pill-accent: var(--bright-blue);
  background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
  color: var(--pill-accent);
  transition: background 0.3s ease;
}

.pill:hover {
  background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
}

/* mat-button */
.mat-mdc-raised-button:not(:disabled) {
  --mat-sys-primary: var(--color-white);
}

/* Schiebt den gesamten Inhalt (inkl. Icons) von den runden Rändern weg */
.pill-input .mat-mdc-text-field-wrapper {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

/* Abstand zum Text */
.pill-input .mat-mdc-form-field-icon-prefix {
  margin-right: 4px;
}
/* Abstand zum Text */
.pill-input .mat-mdc-form-field-icon-suffix {
  margin-left: 4px;
}

/* pill shape mat-form-field */
.pill-input {
  /* This variable controls the entire container shape */
  --mdc-outlined-text-field-container-shape: 28px !important;
}

.pill-input .mdc-notched-outline__leading {
  width: 28px !important;
  border-radius: 28px 0 0 28px !important;
}

.pill-input .mdc-notched-outline__trailing {
  border-radius: 0 28px 28px 0 !important;
}

.pill-input .mat-mdc-text-field-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

/* Reduce the overall button size and the background ripple area */
.pill-input .mat-mdc-icon-button[matprefix],
.pill-input .mat-mdc-icon-button[matsuffix] {
  /* --mdc-icon-button-state-layer-size: 32px !important;
  width: 32px !important;
  height: 32px !important;
  padding: 0 !important; */
  display: grid;
  place-items: center;
}

/* Shrink the actual icon inside the button */
.pill-input .mat-mdc-icon-button .mat-icon {
  --mdc-icon-button-icon-size: 18px !important;
  font-size: 18px !important;
  width: 18px !important;
  height: 18px !important;
}

/* shrink height */
.custom-small-field {
  --mat-form-field-container-height: 40px;
  /* for vertical padding and text centering */
  --mat-form-field-container-vertical-padding: 8px;
}

/* remove padding error/hint */
.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

/* enter animation */
.enter-animation {
  animation: fadeIn linear 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
