<section class="container mb-8">
  <app-main-title title="How is the sky looking today?" />

  <div class="grid place-items-center">
    <div class="w-full max-w-md">
      <mat-form-field class="w-full pill-input" appearance="outline">
        <mat-label>Search for a place...</mat-label>
        <input
          type="text"
          matInput
          [formControl]="searchControl"
          [matAutocomplete]="auto"
          (keydown.enter)="searchPlace($event)"
        />

        <!-- suffix button -->
        <div matSuffix class="flex items-center">
          @if (searchControl.value) {
            <button matIconButton (click)="resetControl()">
              <mat-icon>close</mat-icon>
            </button>
          }

          <!-- search button -->
          <button mat-raised-button color="primary" (click)="searchPlace($event)">Search</button>
        </div>

        <!-- prefix button -->
        <button matIconButton matPrefix>
          <mat-icon>search</mat-icon>
        </button>
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          (optionSelected)="chooseCity()"
          [displayWith]="displayFn"
        >
          @if (isLoading()) {
            <mat-option value="">
              <mat-progress-spinner
                mode="indeterminate"
                diameter="20"
                class="mx-auto"
              ></mat-progress-spinner>
            </mat-option>
          } @else {
            @for (option of filteredResult(); track option) {
              <mat-option [value]="option"> {{ option.name }} ({{ option.country }}) </mat-option>
            }
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>

  <!-- display weather -->
  @if (weather()) {
    <app-display-weather
      [weather]="weather()!"
      [selectedCity]="selectedCity()!"
      [isWeatherLoading]="isWeatherLoading()"
    />

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-6">
      <app-weather-card title="Feels Like" [value]="feelsLike()" />
      <app-weather-card title="Humidity" [value]="humidity()" />
      <app-weather-card title="Wind" [value]="wind()" />
      <app-weather-card title="Precipitation" [value]="precipitation()" />
    </div>
  }
</section>
